NEXT_PUBLIC_SUPABASE_URL=https://ianytpvppdnzhvstbhou.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlhbnl0cHZwcGRuemh2c3RiaG91Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4MjY1MzQsImV4cCI6MjA5MTQwMjUzNH0.EDpvHynGc-vTYBufEhSR0lhBGC1XC8kUdnCP81Nfzn0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlhbnl0cHZwcGRuemh2c3RiaG91Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTgyNjUzNCwiZXhwIjoyMDkxNDAyNTM0fQ.ctjaP5Eor-cjeZ2G-DM5T6xruxi_CERL6_pkCXpTSwk
STUDENT_SESSION_SECRET=1b10fb9b0f3e4da98ed032edac78b835f747da4f72d78627d45f0667bc1e4351